body, *{
    font-family: monospace;
    font-size: 20px;
}
.todo-container{
    box-shadow: 0px 0px 4px 2px;
    width: 50%;
    margin: auto;
    height: max-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;

}

.todo-container h1{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 20px;
}



.descripttion{
    border-top : 1px solid #e8c2c2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.5rem;
}
.descripttion input{
    font-size: 2rem;
    padding: 1rem;
}
.category-and-date{
    display: flex;
    flex-direction: row;
    border-top : 1px solid #e8c2c2;
    padding: 1rem;
    /* justify-content: space-between; */
}
.category-and-date .category{
    font-size: 1.5rem;
    padding: 1rem 0rem;
}

.category-and-date select{
    font-size: 1.2rem;
}
.category-and-date .due-date{
    font-size: 1.5rem;
    padding: 1rem 1rem;
}
.category-and-date .due-date input{
    font-size: 1.1rem;
}


.category{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.due-date{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.buttons{
    display: flex;
    justify-content: center;
}
.buttons button{
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.1rem;
}


#tasks ul{
    list-style: none;
}
#tasks ul li {
    border: 1px solid #123;
    padding: 1rem;
    margin: 0.7rem 0rem;
    margin-left: -2rem;
    box-shadow: 0px 0px 10px 1px ;
    border-radius: 1rem;
}

#tasks ul li .task-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tasks ul li .task-info .task-and-category{
    display: flex;
    flex-direction: column;
    line-height: 0rem;
}

#tasks ul li .task-info .date-and-status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.5rem;
}

a{
    text-decoration: none;
    color: green;
}
a:hover{
    text-decoration: underline;
}